.search-bar:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.form-background{
    -fx-background-color: F3EDE4;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.form-input-field{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-border-color:  #B9935A;
    -fx-border-radius: 10;
}

.form-input-field:hover{
    -fx-background-color: F3EDE4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.image-card {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #B9935A;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.button-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.save-btn{
    -fx-background-color: F3EDE4;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.save-btn:hover{
    -fx-background-color: #00f600;
}

.update-btn{
    -fx-background-color: F3EDE4;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.update-btn:hover{
    -fx-background-color: #6262ff;
}

.delete-btn{
    -fx-background-color: F3EDE4;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.delete-btn:hover{
    -fx-background-color: #ff4f4f;
}

.cancel-btn{
    -fx-background-color: F3EDE4;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.cancel-btn:hover{
    -fx-background-color: #cecece;
}

.upload-btn{
    -fx-background-color: F3EDE4;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.upload-btn:hover{
    -fx-background-color: #B9935A;
}