.Pane {
    -fx-background-color: FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.Pane:hover {
    -fx-background-color:  F3EDE4;
}

.search-bar:focused {
    -fx-background-color: FFFFFF;
}

.search-bar-container:hover {
    -fx-effect: dropshadow(gaussian, rgba(83,109,254,0.3), 8, 0.2, 0, 0);
}

.emp-form {
        -fx-background-color: FFFFFF;
        -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.emp-form-input-fields {
    -fx-background-color: FFFFFF;
    -fx-background-radius: 10;
    -fx-border-color: #B9935A;
    -fx-border-radius: 10;
}

.emp-form-input-fields:hover {
    -fx-background-color:  F3EDE4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.3, 0, 2);
}

.emp-form-input-fields:focused {
    -fx-background-color:  FFFFFF;
}

.emp-img-view {
    -fx-border-color: 000000;
    -fx-border-radius: 10;
}

.btn-upload-image{
    -fx-background-color: FFFFFF;
    -fx-background-radius: 10;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.8;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.2, 0, 1);
}

.btn-upload-image:hover {
    -fx-background-color: F3EDE4;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
}

.btn-clear-form{
    -fx-background-color: FFFFFF;
    -fx-background-radius: 10;
    -fx-border-color: #707070;
    -fx-border-width: 0.5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.2, 0, 1);
}

.btn-add-employee{
    -fx-background-color: #00FF00;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 0.2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.2, 0, 1);
}

.btn-add-employee:hover{
    -fx-background-color: F3EDE4;
    -fx-border-color: #00FF00;
}

.btn-update-employee{
    -fx-background-color: #00D8FF;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 0.2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.2, 0, 1);
}

.btn-update-employee:hover{
    -fx-background-color: F3EDE4;
    -fx-border-color: #00D8FF;
}

.btn-delete-employee{
    -fx-background-color: #FF0050;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 0.2;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.2, 0, 1);
}

.btn-delete-employee:hover{
    -fx-background-color: F3EDE4;
    -fx-border-color: #FF0050;
}

.low-stock-alert {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.2, 0, 1);
}

.low-stock-alert:hover {
    -fx-background-color: #FFE6E6;
}

.item-form {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.item-form-input-fields {
    -fx-background-color: F3EDE4;
    -fx-background-radius: 8;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-border-radius: 8;
}

.item-form-input-fields:hover{
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.item-form-input-fields:focus {
    -fx-background-color: #FFFFFF;
}

.plus-btn {
    -fx-background-color: F3EDE4;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.3;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.plus-btn:hover{
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.add-itm-btn {
    -fx-background-color: #cbae84;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.add-itm-btn:hover {
    -fx-background-color: #7cfc00;
}

.update-itm-btn {
    -fx-background-color: #cbae84;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.update-itm-btn:hover {
    -fx-background-color: #6495ed;
}

.delete-itm-btn {
    -fx-background-color: #cbae84;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.delete-itm-btn:hover {
    -fx-background-color: #ff3b3b;
}

.upload-cloth-btn {
    -fx-background-color: #F3EDE4;
    -fx-border-color: #707070;
    -fx-border-width: 0.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.pop-up {
    -fx-background-color: #F3EDE4;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.pop-up-input-fields {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-border-color: #B9935A;
    -fx-border-width: 0.8;
    -fx-border-radius: 8;
}

.pop-up-input-fields:hover {
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.pop-up-save-btn {
    -fx-background-color: #967442;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}

.pop-up-cancel-btn {
    -fx-background-color: #c9ad85;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(73,58,35,0.3), 8, 0.2, 0, 1);
}