.Pane {
    -fx-background-color: FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.Pane:hover {
    -fx-background-color:  F3EDE4;
}